Source: ros-humble-bob-llm
Section: misc
Priority: optional
Maintainer: Bob Ros <bobmeuchelm@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-humble-ament-cmake, ros-humble-ament-lint-auto <!nocheck>, ros-humble-ament-lint-common <!nocheck>, ros-humble-std-msgs, ros-humble-ros-workspace
Homepage: https://github.com/bob-ros2/bob_llm
Standards-Version: 3.9.2

Package: ros-humble-bob-llm
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python3-requests, python3-yaml, ros-humble-rclpy, ros-humble-std-msgs, ros-humble-ros-workspace
Description: ROS package for interfacing with LLM's and VLM's using OpenAI compatible API.
